<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href='http://fonts.googleapis.com/css?family=Lobster|Karla' rel='stylesheet' type='text/css'/>
	<title>Order confirmation</title>
</head>
<body>
<table style="Margin:0 auto;background:#fefefe;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:580px" align="center">
	<tbody>
	<tr style="padding:0;text-align:left;vertical-align:top">
		<td style="Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
			<table style="border-collapse:collapse;border-spacing:0;display:table;padding:0;text-align:left;vertical-align:top;width:100%">
				<tbody>
				<tr style="padding:0;text-align:left;vertical-align:top">
					<th style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-top:30px;padding-bottom:16px;padding-left:0;padding-right:0;text-align:left;width:298px">
						<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
							<tbody>
							<tr style="padding:0;text-align:left;vertical-align:top">
								<th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
									<div style="float:left;margin-left:28px;width:365px">
										<div style="font-family:Roboto,sans-serif;font-size:15px;font-weight:700;line-height:17px;margin-top:0px" th:text="${restaurant}">restaurant</div>

										<div style="font-family:Roboto,sans-serif;font-size:15px;line-height:17px;margin-top:2px">
											<span><a th:text="${address}" th:href="${address}" th:value="${address}" target="_blank">address</a></span>
											<br />
											<span>tel:</span>
											<span><a th:text="${tel}" th:href="${'tel:' + tel}" th:value="${tel}" target="_blank">(000) 000-0000</a></span>
										</div>

										<div style="font-family:Roboto,sans-serif;font-size:15px;line-height:17px;margin-top:2px">
											<span>Order:</span>

											<span style="font-weight:700" th:text="${orderId}">orderId</span>
										</div>
									</div>
								</th>
							</tr>
							</tbody>
						</table>
					</th>

					<th style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-top:30px;padding-bottom:16px;padding-left:0;padding-right:0;text-align:left;width:298px">
						<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
							<tbody>
							<tr style="padding:0;text-align:left;vertical-align:top">
								<th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
									<div style="float:right;margin-right:28px">
										<img style="background-color: grey;float:right;width:100px;padding-bottom:10px" th:src="${logo}" alt="logo" class="CToWUd"/>
									</div>
								</th>
							</tr>
							</tbody>
						</table>
					</th>
				</tr>
				</tbody>
			</table>

			<table style="border-collapse:collapse;border-spacing:0;display:table;padding:0;text-align:left;vertical-align:top;width:100%">
				<tbody>
				<tr style="padding:0;text-align:left;vertical-align:top">
					<th style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:0;padding-right:0;text-align:left;width:298px">
						<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
							<tbody>
							<tr style="padding:0;text-align:left;vertical-align:top">
								<th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
									<div style="float:left;margin-left:28px;width:298px">
										<div style="margin-bottom:30px"></div>

										<div style="border:solid 1px #000;margin-bottom:40px;width:310px">
											<div style="margin:10px">
												<img style="height:15px;width:15px" src="https://ci6.googleusercontent.com/proxy/rybbSNqIbus2fmf7Z7yRcIKpvcYYbagehhmWPqRi7oC0HeN-BHSvEr_hN3mJtSgRtLCm7_Erqy93GD88085tm3szsQ4-cBaiN4CzEu6RRbZVil-F6XBzKiYBFPMx_l8v-fM6p7MkRtu7BBuM9lfQ0tc=s0-d-e1-ft#http://res.cloudinary.com/grubhub-assets/image/upload/v1509735770/ces_email/icon-bag-v3.png" alt="logo" class="CToWUd"/>

												<span style="font-family:Roboto,sans-serif;font-size:24px;line-height:27px;margin-top:2px">
													<span style="font-weight:700" th:text="${pickUp}">PICKUP </span>
												</span>
											</div>

											<hr style="border:none;border-top:1px dashed #000;border-top-style:solid;border-top-width:1px;display:block;height:0;margin:0;padding:0;padding-top:4px"/>

											<div style="font-family:Roboto,sans-serif;font-size:15px;line-height:17px;margin:4px 10px 10px">
												Will be ready at <b><span th:text="${#dates.format(orderDate, 'dd-MMM-yyyy hh:mm a')}">date</span></b> for <b><span th:text="${pickUp}">pickUp</span></b> (<span th:text="${#strings.equalsIgnoreCase(pickUp, 'delivery')} ? ${order.deliveryAddress} : ${location}">address</span>)
												<!--Will be ready at <b><span th:text="${order.orderDate}">date</span></b> for <b><span th:text="${pickUp}">pickUp</span></b> (<span th:text="${#strings.equalsIgnoreCase(pickUp, 'delivery')} ? ${order.address} : ${location}">address</span>)-->
											</div>
										</div>

										<table class="m_-3676185319550798415m_-140447931111476895orderSummary">
											<thead>
											<tr>
												<td style="font-size:12px;font-weight:normal;line-height:13px;font-family:Roboto,sans-serif;margin-top:2px;padding-right:10px">
													Qty
												</td>

												<td style="font-size:12px;font-weight:normal;line-height:13px;width:220.32px;font-family:Roboto,sans-serif;margin-top:2px">
													Description
												</td>

												<td style="font-size:12px;font-weight:normal;line-height:13px;text-align:right;width:32.4px;padding-right:20px;font-family:Roboto,sans-serif;margin-top:2px">
													Price
												</td>
											</tr>

											<tr>
												<td colspan="3">
												<div style="border-top-style:solid;border-top-width:1px"></div>
												</td>
											</tr>
											</thead>

											<tbody class="m_-3676185319550798415m_-140447931111476895orderSummary__body">
											<div th:each="item : ${order.menuItems}">
												<tr style="vertical-align:text-top">
													<td style="font-size:15px;line-height:17px;width:4.05px;font-weight:bold;text-align:center;font-family:Roboto,sans-serif;margin-top:2px;padding-right:10px">
														<div th:text="${item.count}" style="border:1px solid #000;height:17px;max-width:26.15px;margin-top:4px;padding:4px">N</div>
													</td>

													<td class="m_-3676185319550798415m_-140447931111476895orderSummary__data">
														<div th:text="${item.name}" style="font-family:Roboto,sans-serif;font-size:15px;font-weight:700;line-height:17px;margin-top:4px;margin-bottom:5px;width:198.45px">item.name</div>
														 <div th:text="${item.size == null} ? '' : ${('Size: ' + item.size)}" style="clear:both;font-family:Roboto,sans-serif;font-size:12px;font-weight:400;line-height:13px;margin-top:4px;width:198.45px">item.size </div>
														<div th:text="${item.instructions == null} ? '' : ${('Instructions: ' + item.instructions)}" style="clear:both;font-family:Roboto,sans-serif;font-size:12px;font-weight:400;line-height:13px;margin-top:4px;width:198.45px">Instructions: </div>
														<div th:text="${item.cookType == null} ? '' : ${('Temperature: ' + item.cookType)}" style="clear:both;font-family:Roboto,sans-serif;font-size:12px;font-weight:400;line-height:13px;margin-top:4px;width:198.45px">Instructions: </div>
													</td>

													<td>
													<span th:text="${'$' + #numbers.formatDecimal(item.price * item.count, 1, 'COMMA', 2, 'POINT')}" style="float:right;font-size:15px;font-weight:700;line-height:17px;text-align:right;width:70px">
													$0.00
													</span>
													</td>
												</tr>

												<div th:each="ingredient : ${item.ingredients}">
													<tr>
														<td colspan="3">
															<div style="border-top-style:solid;border-top-width:1px;margin-top:4px"></div>
														</td>
													</tr>

													<tr style="page-break-inside:avoid">
														<td>
															<div>
																<img style="height:15px;margin-top:5px;width:15px" src="https://ci6.googleusercontent.com/proxy/7VXYkdmvJq2kiXjPLTsTXoFbAD53H1MtTfWgUY2lqXD3k1ypBrSquF3CGFkuyqzn774KtLRW9yeKoVEdKXhZ8lcXxCgM4Zh3a5Y32rTIi94QX5EQaGqYjWBzgH-IV2VuqEdzA-W1uJI2kKhxNYU4QGIhX1V-=s0-d-e1-ft#http://res.cloudinary.com/grubhub-assets/image/upload/v1509735770/ces_email/icon-cutlery-v3.png" alt="logo" class="CToWUd"/>
															</div>
														</td>

														<td>
														
														<div th:text="${ingredient.name}" style="font-family:Roboto,sans-serif;margin-top:2px;font-size:12px;font-weight:normal;line-height:13px">ingredient.name</div>
														
														</td>

														<td class="m_-3676185319550798415m_-140447931111476895orderSummary__data">
		<span th:text="${'$' + #numbers.formatDecimal(ingredient.price, 1, 'COMMA', 2, 'POINT')}" style="float:right;font-family:Roboto,sans-serif;font-size:15px;font-weight:700;line-height:17px;margin-top:2px;text-align:right;width:50px">
																$0.00
															</span>
														</td>
													</tr>
												</div>

												<div th:each="extra : ${item.extras}">
													<tr>
														<td colspan="3">
															<div style="border-top-style:solid;border-top-width:1px;margin-top:4px"></div>
														</td>
													</tr>

													<tr style="page-break-inside:avoid">
														<td>
															<div>
																<img style="height:15px;margin-top:5px;width:15px" src="https://ci6.googleusercontent.com/proxy/7VXYkdmvJq2kiXjPLTsTXoFbAD53H1MtTfWgUY2lqXD3k1ypBrSquF3CGFkuyqzn774KtLRW9yeKoVEdKXhZ8lcXxCgM4Zh3a5Y32rTIi94QX5EQaGqYjWBzgH-IV2VuqEdzA-W1uJI2kKhxNYU4QGIhX1V-=s0-d-e1-ft#http://res.cloudinary.com/grubhub-assets/image/upload/v1509735770/ces_email/icon-cutlery-v3.png" alt="logo" class="CToWUd"/>
															</div>
														</td>

														<td th:text="${extra.name}" style="font-family:Roboto,sans-serif;margin-top:2px;font-size:12px;font-weight:normal;line-height:13px">
															extra.name
														</td>

														<td class="m_-3676185319550798415m_-140447931111476895orderSummary__data">
															<span th:text="${'$' + #numbers.formatDecimal(extra.price, 1, 'COMMA', 2, 'POINT')}" style="float:right;font-family:Roboto,sans-serif;font-size:15px;font-weight:700;line-height:17px;margin-top:2px;text-align:right;width:50px">
																$0.00
															</span>
														</td>
													</tr>
												</div>

												<tr>
													<td colspan="3">
														<div style="border-top-style:solid;border-top-width:1px"></div>
													</td>
												</tr>
											</div>

											<tr style="font-family:Roboto,sans-serif;margin-top:0px">
												<td></td>

												<td style="font-size:12px;font-weight:normal;line-height:13px;text-align:right;padding-right:20px">
													Subtotal
												</td>

												<td class="m_-3676185319550798415m_-140447931111476895orderSummary__data">
													<span th:text="${'$' + #numbers.formatDecimal(order.orderPriceSubTotal, 1, 'COMMA', 2, 'POINT')}" style="float:right;font-size:15px;font-weight:700;line-height:17px;text-align:right;width:70px">
														$0.00
													</span>
												</td>
											</tr>

											<tr style="page-break-inside:avoid">
												<td></td>

												<td style="font-size:12px;font-weight:normal;line-height:13px;text-align:right;padding-right:20px">
													Tax
												</td>

												<td>
													<span th:text="${'$' + #numbers.formatDecimal(order.orderPriceTax, 1, 'COMMA', 2, 'POINT')}" style="float:right;font-size:15px;font-weight:700;line-height:17px;text-align:right;width:70px">
														$0.00
													</span>
												</td>
											</tr>

											<tr style="page-break-inside:avoid">
												<td></td>

												<td style="font-size:12px;font-weight:normal;line-height:13px;text-align:right;padding-right:20px">
													Tip
												</td>

												<td>
													<span th:text="${'$' + #numbers.formatDecimal(order.orderPriceTip, 1, 'COMMA', 2, 'POINT')}" style="float:right;font-size:15px;font-weight:700;line-height:17px;text-align:right;width:70px">
														$0.00
													</span>
												</td>
											</tr>

											<tr style="page-break-inside:avoid">
												<td></td>

												<td style="font-size:12px;font-weight:normal;line-height:13px;text-align:right;padding-right:20px">
													Delivery
												</td>

												<td>
													<span th:text="${'$' + #numbers.formatDecimal(order.orderDeliveryPrice, 1, 'COMMA', 2, 'POINT')}" style="float:right;font-size:15px;font-weight:700;line-height:17px;text-align:right;width:70px">
														$0.00
													</span>
												</td>
											</tr>

											<tr>
												<td colspan="3">
													<div style="border-top-style:solid;border-top-width:1px"></div>
												</td>
											</tr>

											<tr style="page-break-inside:avoid">
												<td></td>

												<td style="font-size:12px;font-weight:normal;line-height:13px;text-align:right;padding-right:20px">
													TOTAL
												</td>

												<td>
													<span th:text="${'$' + #numbers.formatDecimal(order.orderPrice, 1, 'COMMA', 2, 'POINT')}" style="float:right;font-size:15px;font-weight:700;line-height:17px;text-align:right;width:70px">
														$0.00
													</span>
												</td>
											</tr>
											</tbody>
										</table>

										<!--<div style="border:solid 1px #000;border-style:outset;height:50px;margin:30px 0 30px 0;width:310px">
											<div style="margin:5px">
												<img style="float:left;height:15px;padding-right:5px;padding-top:10px;width:15px" src="https://ci6.googleusercontent.com/proxy/zNFv5a5lkFyIFnze39KWhIkxAWpVuR2l3GjAGv6JDbZob8q0nMKIpAx-MrwKj65rugPVkeznYwo9AWicz9lpcfjU8U0mqcbd0RlE4S4gEtsvh_zxDN_WoX-GyXFiZMyMHKCJr6e1arimeL50yeFR4j28=s0-d-e1-ft#http://res.cloudinary.com/grubhub-assets/image/upload/v1509735770/ces_email/icon-cash-v3.png" alt="logo" class="CToWUd"/>

												<div style="float:left;width:100px">
													<span style="font-family:Roboto,sans-serif;font-size:19px;font-weight:700;line-height:22px;margin-top:7px">
														PREPAID
													</span>

													<div style="font-family:Roboto,sans-serif;font-size:12px;font-weight:400;line-height:13px;margin-top:2px;white-space:nowrap">DO NOT CHARGE</div>
												</div>
											</div>
										</div>-->

										<!--<div style="font-family:Roboto,sans-serif;font-size:15px;line-height:17px;margin-top:2px">
											<a href="https://orderemails.grubhub.com/019c4a86-3214-4740-9814-a702417fffe2/071f60f9-f36c-31a2-914a-2dc82e87736d" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://orderemails.grubhub.com/019c4a86-3214-4740-9814-a702417fffe2/071f60f9-f36c-31a2-914a-2dc82e87736d&amp;source=gmail&amp;ust=1520180976293000&amp;usg=AFQjCNEuVtFN33yJblJVBjNBRDf-Mex2Ug">Click here to confirm and view</a>
										</div>-->
									</div>
								</th>
							</tr>
							</tbody>
						</table>
					</th>

					<th style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:0;padding-right:0;text-align:left;width:298px">
						<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
							<tbody>
							<tr style="padding:0;text-align:left;vertical-align:top">
								<th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
									<div style="float:right;margin-left:24px;margin-right:28px">
										<div style="margin-bottom:30px"></div>

										<div style="border:solid 1px #000;margin-bottom:10px;width:270px">
											<div style="margin:10px">
												<div style="font-family:Roboto,sans-serif;font-size:14px;font-weight:700;line-height:16px;margin-top:0px;white-space:nowrap">Customer Name:</div>

												<div th:text="${order.name}" style="font-family:Roboto,sans-serif;font-size:14px;line-height:16px;margin-top:0px">Customer Name</div>

												<div style="margin-bottom:10px"></div>

												<div style="font-family:Roboto,sans-serif;margin-top:2px">
													<a th:text="${order.phone}" th:href="${'tel:' + order.phone}" th:value="${order.phone}" target="_blank">(000) 000-0000</a>
												</div>
												<div style="font-family:Roboto,sans-serif;font-size:14px;font-weight:700;line-height:16px;margin-top:0px;white-space:nowrap">Text Msg will be sent once order</div>
												<div style="font-family:Roboto,sans-serif;font-size:14px;font-weight:700;line-height:16px;margin-top:0px;white-space:nowrap">is ready.</div>
											</div>
										</div>

										<div style="margin-bottom:20px"></div>
										<!--<div style="font-family:Roboto,sans-serif;font-size:14px;font-style:italic;line-height:16px;margin-top:0px">
											<div>QUESTIONS? Customer service is<br> available at <a href="tel:(877)%20585-1085" value="+18775851085" target="_blank">(877) 585-1085</a></div>
										</div>-->
									</div>
								</th>
							</tr>
							</tbody>
						</table>
					</th>
				</tr>
				</tbody>
			</table>

			<div style="margin:0 auto;width:600px">
				<div style="margin:10px">
					<div th:text="${warnMsg == null} ? '' : 'Warning!'" style="font-family:Roboto,sans-serif;font-size:14px;font-weight:700;line-height:16px;margin-top:0px;white-space:nowrap">Warning!</div>

					<div th:text="${warnMsg == null} ? '' : ${warnMsg}" style="font-family:Roboto,sans-serif;font-size:14px;line-height:16px;margin-top:0px">Customer Name</div>
				</div>
			</div>
			
			<div style="font-family:Roboto,sans-serif;font-size:15px;line-height:17px;margin-top:2px">
											<span>Link to view the Receipt</span>
											<span style="font-weight:700" th:text="${orderLink}">orderLink</span>
										</div>
										
			<div th:text="${merchId == null} ? '' : ${'Merch Id: ' + merchId}" style="font-family:Roboto,sans-serif;font-size:14px;line-height:16px;margin-top:0px">merchId</div>
			<div th:text="${transDate == null} ? '' : ${'Transaction Date: ' + transDate}" style="font-family:Roboto,sans-serif;font-size:14px;line-height:16px;margin-top:0px">transDate</div>
			<!-- <div th:text="${refNum == null} ? '' : ${'Size: ' + refNum}" style="font-family:Roboto,sans-serif;font-size:14px;line-height:16px;margin-top:0px">refNum</div>
			 --><div th:text="${terminalId == null} ? '' : ${'Terminal Id: ' + terminalId}" style="font-family:Roboto,sans-serif;font-size:14px;line-height:16px;margin-top:0px">terminalId</div>
			<div th:text="${approvalCode == null} ? '' : ${'Approval Code: ' + approvalCode}" style="font-family:Roboto,sans-serif;font-size:14px;line-height:16px;margin-top:0px">approvalCode</div>
			<div th:text="${nameOnCard == null} ? '' : ${'Name On Card: ' + nameOnCard}" style="font-family:Roboto,sans-serif;font-size:14px;line-height:16px;margin-top:0px">nameOnCard</div>
			<div th:text="${cardNumber== null} ? '' : ${'Card Number: ' + cardNumber}" style="font-family:Roboto,sans-serif;font-size:14px;line-height:16px;margin-top:0px">cardNumber</div>
			<div th:text="${appId == null} ? '' : ${'Application ID: ' + appId}" style="font-family:Roboto,sans-serif;font-size:14px;line-height:16px;margin-top:0px">appId</div>
			<div th:text="${appLabel== null} ? '' : ${'Application Label: ' + appLabel}" style="font-family:Roboto,sans-serif;font-size:14px;line-height:16px;margin-top:0px">appLabel</div>
		    <div th:text="${pinStatement== null} ? '' : ${'Pin Statement: ' + pinStatement}" style="font-family:Roboto,sans-serif;font-size:14px;line-height:16px;margin-top:0px">pinStatement</div>
		
		</td>
	</tr>
	</tbody>
</table>
</body>
</html>
