<div class="content hidden-xs ">1
    <form name="answerForm" method="post">
        name:{{menu_detail.data.name}}<br>
        <img ng-src="{{ menu_detail.data.url }}">
        <div class="box-body">
            <div class="table-responsive" style="width: 1000px;">
                <div class="card-box">
                    <div class="table-rep-plugin">
                        <div class="table-responsive">
                            <div class="title-tabl">
                                <p class="box-title1">Category 1</p>
                                <span href="#custom-modal-deletecat" data-animation="door" data-plugin="custommodal"
                                   data-overlaySpeed="100" data-overlayColor="#36404a"><i class="fa fa-times delete-cat"
                                                                                          aria-hidden="true"></i></span>
                            </div>
                            <table class="table no-margin  table-striped" ng-repeat="x in menu_detail">


                                <tr ng-repeat="y in x.ingredients">
                                    ingredients:
                                    <td> {{y.id}}</td>

                                    <td>
                                        <div class="procedure-details" ng-class="{ 'hidden':  showDetails }">
                                            name:{{y.name}}
                                        </div>


                                        <div class="procedure-details" ng-class="{ 'hidden': ! showDetails }">
                                            <input type="text" required ng-model="y.name" class="form-control">
                                        </div>
                                    </td>
                                    <td>

                                        <div class="procedure-details" ng-class="{ 'hidden':  showDetails }">
                                            <button type="submit" ng-click=" showDetails = ! showDetails; "
                                                    class="btn btn-warning">
                                                <i class="fa fa-pencil"></i>update
                                            </button>
                                        </div>
                                        <div class="procedure-details" ng-class="{ 'hidden': ! showDetails }">
                                            <button type="submit"
                                                    ng-click="update_ingredient(y); showDetails = ! showDetails; "
                                                    class="btn btn-success">
                                                <i class="fa fa-pencil"></i>save
                                            </button>
                                        </div>

                                    </td>
                                    <td>
                                        <button ng-click="delete_ingredient(y)" class="btn btn-danger" href="#main">
                                            <i class="fa fa-trash"></i> delete
                                        </button>
                                    </td>
                                </tr>


                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>


<div>
    test {{ category_detail.data.menuItems }}
    <form name="answerForm" method="post">
        <table class="table table-hover table-inverse">
            <tbody>

            <tr>
                <td>description<span class="red"> *</span></td>
                <td>
                    <input type="text" required ng-model="answer.name" class="form-control">
                </td>
            </tr>
            </tbody>
        </table>
        <p>
            <button type="submit" ng-click="create_ingredient()" class="btn btn-success">Отправить</button>
        </p>
    </form>
</div>

</div>

	